<?xml version="1.0"?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied.  See the License for the
  specific language governing permissions and limitations
  under the License.    
-->
<document>

 <properties>
  <title>Apache James Server 3 - Configuration</title>
 </properties>

<body>

  <section name="Configure Apache James Server">
  
    <p>All configuration files resides in the ./conf and ./conf/META-INF folder.</p>
    
    <p>With default Spring wiring, we ship with default configuration. It gets automatically deployed in the conf folder while unzipping.
      Of course, you can change the files *.xml the settings to match your needs.</p>

    <p> For Guice based wiring, you are encouraged to take a look at default configuration of the
      <a href="https://hub.docker.com/r/apache/james">James docker images</a>.</p>

    <p>Please note that the configuration is dependent of the wiring you have chosen. Some configuration files are specific to
    some back-ends, to some protocols. Please also note that some configuration files are not required for Guice. In this
    case, it will be specified.</p>

    <p>In every configuration files, you can use the following notation to use an environment variable: <code>${env:MY_VAR}</code>.
    If <code>MY_VAR</code> exists, it will be replaced by the matching environment variable.
    If it does not, <code>${env:MY_VAR}</code> will be kept as is.
    If you want to configure a fallback value for the environment variable, you can use <code>${env:MY_VAR:-fallbackValue}</code>.</p>
    
    <p>You can/must configure James for the following:</p>
    
    <table>

      <tr>
        <th>Config File Sample</th>
        <th>Config Area</th>
        <th>Config Comment</th>
      </tr>

      <tr>
        <td><a href="https://github.com/apache/james-project/tree/master/server/apps/spring-app/src/main/resources/dnsservice.xml">dnsservice.xml</a></td>
        <td><a href="config-dnsservice.html">DNS Service Configuration</a></td>
        <td></td>
      </tr>
      <tr>
        <td><a href="https://github.com/apache/james-project/tree/master/server/apps/spring-app/src/main/resources/domainlist.xml">domainlist.xml</a></td>
        <td><a href="config-domainlist.html">Domain List Configuration</a></td>
        <td></td>
      </tr>
      <tr>
        <td><a href="https://github.com/apache/james-project/tree/master/server/apps/spring-app/src/main/resources/events.xml">events.xml</a></td>
        <td><a href="config-events.html">Event system Configuration (Spring only)</a></td>
        <td></td>
      </tr>
      <tr>
        <td><a href="https://github.com/apache/james-project/tree/master/server/apps/spring-app/src/main/resources/fetchmail.xml">fetchmail.xml</a></td>
        <td><a href="config-fetchmail.html">FetchMail Configuration (Spring only)</a></td>
        <td></td>
      </tr>
      <tr>
        <td><a href="https://github.com/apache/james-project/tree/master/server/apps/spring-app/src/main/resources/imapserver.xml">imapserver.xml</a></td>
        <td><a href="config-imap4.html">IMAP4 Configuration</a></td>
        <td></td>
      </tr>
      <tr>
        <td><a href="https://github.com/apache/james-project/blob/master/server/apps/distributed-app/sample-configuration/jmap.properties">jmap.properties</a></td>
        <td><a href="config-jmap.html">JMAP Configuration (Guice only)</a></td>
        <td></td>
      </tr>
      <tr>
        <td><a href="https://github.com/apache/james-project/tree/master/server/apps/spring-app/src/main/resources/lmtpserver.xml">lmtpserver.xml</a></td>
        <td><a href="config-smtp-lmtp.html">LMTP Configuration</a></td>
        <td></td>
      </tr>
      <tr>
        <td><a href="https://github.com/apache/james-project/tree/master/server/apps/spring-app/src/main/resources/mailrepositorystore.xml">mailrepositorystore.xml</a></td>
        <td><a href="config-mailrepositorystore.html">Mail Repository Stores Configuration</a></td>
        <td></td>
      </tr>
      <tr>
        <td><a href="https://github.com/apache/james-project/tree/master/server/apps/spring-app/src/main/resources/mailbox.xml">mailbox.xml</a></td>
        <td><a href="config-mailbox.html">Mailbox Configuration (Spring only)</a></td>
        <td></td>
      </tr>
      <tr>
        <td><a href="https://github.com/apache/james-project/tree/master/server/apps/spring-app/src/main/resources/mailetcontainer.xml">mailetcontainer.xml</a></td>
        <td><a href="config-mailetcontainer.html">Mailet Container Configuration</a></td>
        <td></td>
      </tr>
      <tr>
        <td><a href="https://github.com/apache/james-project/tree/master/server/apps/spring-app/src/main/resources/pop3server.xml">pop3server.xml</a></td>
        <td><a href="config-pop3.html">POP3 Configuration</a></td>
        <td></td>
      </tr>
      <tr>
        <td><a href="https://github.com/apache/james-project/tree/master/server/apps/spring-app/src/main/resources/quota.xml">mailbox.xml</a></td>
        <td><a href="config-quota.html">Quota Configuration (Spring only)</a></td>
        <td></td>
      </tr>
      <tr>
        <td><a href="https://github.com/apache/james-project/tree/master/server/apps/spring-app/src/main/resources/recipientrewritetable.xml">recipientrewritetable.xml</a></td>
        <td><a href="config-recipientrewritetable.html">Recipient Rewrite Table Configuration</a></td>
        <td></td>
      </tr>
      <tr>
        <td><a href="https://github.com/apache/james-project/tree/master/server/apps/spring-app/src/main/resources/smtpserver.xml">smtpserver.xml</a></td>
        <td><a href="config-smtp-lmtp.html">SMTP Configuration</a></td>
        <td></td>
      </tr>
      <tr>
        <td><a href="https://github.com/apache/james-project/tree/master/server/apps/spring-app/src/main/resources/usersrepository.xml">usersrepository.xml</a></td>
        <td><a href="config-users.html">Users Configuration</a></td>
        <td></td>
      </tr>
      <tr>
        <td><a href="https://github.com/apache/james-project/blob/master/server/apps/distributed-app/sample-configuration/webadmin.properties">webadmin.properties</a></td>
        <td><a href="config-webadmin.html">WebAdmin Configuration</a></td>
        <td></td>
      </tr>

    </table>
    
    <p>For most advanced system configuration, you can configure James for the following:</p>
    
    <table>

      <tr>
        <th>System Config File Sample</th>
        <th>System Config Area</th>
        <th>System Config Comment</th>
      </tr>
    
      <tr>
        <td><a href="https://github.com/apache/james-project/tree/master/server/container/spring/src/main/resources/META-INF/org/apache/james/spring-server.xml">spring-server.xml</a></td>
        <td><a href="config-system.html">System Configuration</a></td>
        <td></td>
      </tr>
      <tr>
        <td><a href="https://github.com/apache/james-project/tree/master/server/apps/spring-app/src/main/resources/james-database.properties">james-database.properties</a></td>
        <td><a href="config-system.html">System Configuration</a></td>
        <td></td>
      </tr>
      <tr>
        <td><a href="https://github.com/apache/james-project/tree/master/server/apps/spring-app/src/main/resources/META-INF/persistence.xml">META-INF/persistence.xml</a></td>
        <td><a href="config-system.html">System Configuration</a></td>
        <td></td>
      </tr>
      <tr>
        <td>
          <a href="https://github.com/apache/james-project/tree/master/server/apps/spring-app/src/main/resources/jmx.properties">jmx.properties</a><br/>
         </td>
        <td><a href="config-system.html">System Configuration</a></td>
        <td></td>
      </tr>
      <tr>
        <td><a href="https://github.com/apache/james-project/blob/087e8e13e13f868280e19b74b6a8f14f55c997d1/mailbox/spring/src/main/resources/log4j.properties">log4j.properties</a></td>
        <td>See <a href="monitor-logging.html">monitoring with log4j</a> section.</td>
        <td></td>
      </tr>
      <tr>
        <td><a href="https://github.com/apache/james-project/tree/master/server/apps/spring-app/src/main/resources/sqlResources.xml">sqlResources.xml</a></td>
        <td><a href="config-system.html">System Configuration</a></td>
        <td>Deprecated</td>
      </tr>
      
    </table>
    
    <p>See also more specific configurations related to <a href="config-ssl-tls.html">TLS</a>, 
       <a href="config-sieve.html">Sieve</a> and 
       <a href="config-antispam.html">Antispam</a>.</p>

  </section>

</body>

</document>
