aside {
  padding: 1em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  background: #6F8000;
  line-height: 1.6;
  font-family: 'FontAwesome';
}
aside:before {
  padding-right: 0.5em;
  font-size: 14px;
}
aside.warning { background: #ac5c64; }
aside.warning:before { content: "\f071"; }
aside.notice { background: #67875C; }
aside.notice:before { content: "\f06a"; }
