version: '3'

services:

  james:
    depends_on:
      - spamassassin
    image: apache/james:memory-latest
    container_name: james
    hostname: james.local
    command:
      - --generate-keystore
    volumes:
      - $PWD/target/apache-james-spamassassin-jar-with-dependencies.jar:/root/extensions-jars/james-server-spamassassin.jar
      - $PWD/sample-configuration/extensions.properties:/root/conf/extensions.properties
      - $PWD/sample-configuration/spamassassin.properties:/root/conf/spamassassin.properties
      - $PWD/sample-configuration/mailetcontainer.xml:/root/conf/mailetcontainer.xml
      - $PWD/sample-configuration/listeners.xml:/root/conf/listeners.xml
      - $PWD/sample-configuration/smtpserver.xml:/root/conf/smtpserver.xml
    ports:
      - "80:80"
      - "25:25"
      - "110:110"
      - "143:143"
      - "465:465"
      - "587:587"
      - "993:993"
      - "8000:8000"

  spamassassin:
    image: instantlinux/spamassassin:3.4.6-1
    ports:
      - "783:783"