<?xml version="1.0" encoding="UTF-8"?>
<configuration>
        <appender name="FILE" class="ch.qos.logback.core.FileAppender">
                <file>target/test-run.log</file>
                <append>false</append>
                <!-- set immediateFlush to false for much higher logging throughput -->
                <immediateFlush>false</immediateFlush>
                <!-- encoders are assigned the type
                     ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
                <encoder>
                        <pattern>%d{HH:mm:ss.SSS} [%-5level] %logger{35} - %msg%n%rEx</pattern>
                </encoder>
        </appender>


        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
                <encoder>
                        <pattern>%d{HH:mm:ss.SSS} [%-5level] %logger{15} - %msg%n%rEx</pattern>
                </encoder>
        </appender>

        <root level="WARN">
                <appender-ref ref="CONSOLE" />
                <appender-ref ref="FILE" />
        </root>
        <logger name="org.apache.james" level="DEBUG" />
        <logger name="org.testcontainers" level="DEBUG"/>
        <logger name="org.apache.james.metrics" level="INFO"/>
</configuration>
