/org.eclipse.core.resources.prefs
/org.eclipse.jdt.core.prefs
/org.eclipse.jpt.core.prefs
/org.eclipse.m2e.core.prefs
/org.eclipse.wst.common.project.facet.core.prefs.xml
/org.eclipse.wst.common.project.facet.core.xml
