body {  font-family: Verdana, Arial, Helvetica, sans-serif;}
td {  font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 90%  }
strong {  font-weight: bold;}
p {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 90% }
a {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 90%;
}
h3 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 100% }
li {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 90%;
}

table {  border-style: none}
td {  border-style: none}
.section-header {
	border: thin solid #525D76;
	background-color: #525D76;
	color: #FFFFFF;


}
.subsection-header {
	border: thin solid #828DA6;
	color: #FFFFFF;
	background-color: #828DA6;




}
.source {
	left: 4em;
	border: 1px solid #000066;
	white-space: pre;
	font-family: "Courier New", Courier, mono;
	padding: 0ex 2ex 2ex 2ex;
	margin: 0ex;



}
.left-navbar {
	padding-right: 1ex;
	padding-left: 1ex;
	border-top: 1px none #CCCCCC;
	border-right: 1px none #CCCCCC;
	border-bottom: 1px none #CCCCCC;
	border-left: 1px none #CCCCCC;


}
li a {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 90%;
        color: #333333;
}
p a {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 90%;
        color: #333333;
}
.right-navbar {
	padding-left: 1ex;
	padding-right: 1ex;
	border-top: 1px none #CCCCCC;
	border-right: 1px none #CCCCCC;
	border-bottom: 1px none #CCCCCC;
	border-left: 1px none #CCCCCC;




}
ul {
	list-style-position: inside;
	margin: 0em 0em 0em 0px;
	padding: 0em 0em 0em 0px;
	list-style-type: square;


}
.section-body {
	padding-left: 1em;
	margin-bottom: 1em;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
	padding-right: 1ex;
	text-align: justify;




}
.subsection-body {
	padding-left: 1em;
	margin-bottom: 1em;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
	text-align: justify;



}
pre {


	left: 4em;
	border: 1px solid #000066;
	white-space: pre;
	font-family: "Courier New", Courier, mono;
	padding: 0ex 2ex 2ex 2ex;
	margin: 0ex;
}
.detail-table-header {
	font-weight: bold;
	color: #FFFFFF;
	background-color: #666666;
	vertical-align: text-bottom;
	text-align: center;
}
.detail-table-content {
	border: 1px solid #CCCCCC;
	font-family: Verdana;
	font-size: 90%;
	margin: 2px;
	padding: 0px 4px;



}
