#apacheconbox {
  margin: 20px 0px 0px 20px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: white;
  background-image: url(../images/button-top.gif);
  background-repeat: repeat-x;
}
#apacheconspacer {
  float: right;
  margin: 0px 0px 10px 10px;
  background-color: white;
}
