services:
  james:
    depends_on:
      postgres:
        condition: service_started
    image: sami7786/inbox-server:postgres-merge-test
    container_name: james
    hostname: james.local
    command:
      - --generate-keystore
    ports:
      - "80:80"
      - "25:25"
      - "110:110"
      - "143:143"
      - "465:465"
      - "587:587"
      - "993:993"
      - "8000:8000"
    volumes:
      - ./sample-configuration-single/search.properties:/root/conf/search.properties
      - ./sample-configuration/blob.properties:/root/conf/blob.properties
      - ./sample-configuration/jmap.properties:/root/conf/jmap.properties
    networks:
      - james
  postgres:
    image: postgres:16.3
    container_name: postgres
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_DB=james
      - POSTGRES_USER=james
      - POSTGRES_PASSWORD=secret1
    networks:
      - james
networks:
  james:
